.div-cozinha{
    width: 40%;
    border: 2px solid black;
    background-color: rgba(253, 252, 252, 0.411);
    margin: 20px;
}
.numero-pedido{
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
    background-color: antiquewhite;;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}
.mesa, .cliente{
    padding: 5px;
    font-weight: bold;
}
.btn-pronto{
    width: 70%;
    margin: 10px;
    height: 40px;
    font-size: 16px;
}
.div-btn{
    display: flex;
    align-self: center;
    justify-content: center;
}
.lista{
    text-align: center;
}



