.div-cozinha{
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgba(253, 252, 252, 0.411);
    min-width: 15em;
    max-width: 18em;
    margin: 10px;
  }
  .numero-pedido{
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
    border-radius: 15px 15px 0px 0px;
    background-color: antiquewhite;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  .mesa, .cliente{
    padding: 5px;
    margin: 7px;
    font-weight: bold;
    width: 100%;
  }
  .btn-pronto{
    width: 70%;
    margin: 10px;
    height: 40px;
    font-size: 16px;
  }
  .div-btn{
    display: flex;
    align-self: center;
    justify-content: center;
  }
  .lista{
    text-align: center;
  }
  
  .table-header {
    font-weight: bold;
  }
  
  .table-rowEven {
    padding: 30px;
    text-align: center;
  }
  .table-rowOdd {
    padding: 30px;
  }
  
  .table-cell-qtd {
    text-align: center;
    min-width: 3em;
  }
  
  .table-cell-item {
    text-align: left;
    min-width: 10em;
  }
  
  /* Small Card */
  
  .small-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 15px;  
  }
  
  .small-card-title {
    width: 100%;
    font-weight: bold;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
    padding: 8px;
    background-color: antiquewhite;
    text-align: center;
  }
  
  .small-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(253, 252, 252, 0.411);
    width: 100%;
    border-radius: 0px 0px 15px 15px;
    padding: 5px;
  }
  
  .finalizar {
    display: none;
  }
  
  .a-cancelado {
    color: white;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    background-color: rgb(136, 28, 28);
    align-self: flex-end;
    height: 26px;
    width: 10%;
  }

  .p-pedido{
    width: 90%;
  }

  .div-pedido-cancelar{
    display: flex;
  }