.header-hall-kitchen{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    background-color: #8C001A;
  }
  
  .img-logo-hall-kitchen{
    width: 5%;
  }
  
  .btn-logout-hall-kitchen{
    height: 30px;
    margin-right: 15px;
  }