.btn-quant{
    border-radius: 50%;
    background-color: #ffc857;
    width: 30px;
    cursor: pointer;
    margin: 0 10px;
}
.deletar{
    cursor: pointer;
}
.celula-tabela{
    width: 35%;
    text-align: center;
}
